body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f1f2f3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr-reader{
    width: 90%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-top: 0.5%;
    padding-inline: 4%;
    background: #FCCE41;
    box-shadow: 1px 10px 54px -11px rgba(0,0,0,0.36);
-webkit-box-shadow: 1px 10px 54px -11px rgba(0,0,0,0.36);
-moz-box-shadow: 1px 10px 54px -11px rgba(0,0,0,0.36);
}
.nav img{
    height: 3em;
    border-radius: 0.5em;
}