body {
    height: 100vh;

    margin: 0;
    padding: 0;
    background: #F5F2EF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-y: scroll;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-reader {
    width: 30em;
    color: #e7b726;
}

.qr-reader button {
    padding-inline: 1.5em;
    padding-block: 0.5em;
    border-radius: 0.5em;
    background-color: rgb(4, 74, 100);
    color: white;
}

.qr-reader button:hover {
    box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-top: 0.5%;
    padding-inline: 4%;
    background: #FCCE41;
    box-shadow: 1px 10px 54px -11px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 1px 10px 54px -11px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 1px 10px 54px -11px rgba(0, 0, 0, 0.36);
}

.nav img {
    height: 3em;
    border-radius: 0.5em;
}

.nav .menu {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding-inline: 1.5em;
    padding-block: 0.5em;
    border-radius: 0.5em;
}

.menu .scan:hover {
    padding: 0.55em 1.55em;
    box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
}

.menu .history:hover {
    padding: 0.55em 1.55em;
    box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
}

.menu .favorite:hover {
    padding: 0.55em 1.55em;
    box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 1px 6px 8px -4px rgba(0, 0, 0, 0.64);
}



.hearder-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.hearder-txt h6 {
    color: rgba(128, 128, 128, 0.13);
}

.hidden {
    display: none !important;
}


/* // ---------------------------------------------------------------- */

.qr-result {
    display: flex;
    flex-direction: column;
    padding-inline: 5em;
    margin-top: 3em;
    gap: 1.2em;
}

.link-box {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 1em;
    padding-inline: 5em;
    padding-block: 0.8em;
    gap: 0.2em;

}

.link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.opt-icon {
    display: flex;
    gap: 2em;
    margin-right: -3em;
}

.date {
    color: #878687;
}


/* // ---------------------------------------------------------------- */

